* {
    font-family: Arial, Helvetica, sans-serif;
    color: gray
}

html {
    background-image: url("IMG_0843.JPG");
    background-color: rgb(180, 200, 218);
}

header {
    background-color: gray;
    width: 97%;
    height: 75px;
    padding:15px;
    position: sticky;
    top: 5px;
    text-align: right;
    z-index: 3;
}

a {
    color: white;
    text-decoration: none;
}


nav {
    display: inline-block;
    margin: auto;
    position: relative;
}

nav li {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    width: 100px;
    color: white;
}

main {
    background-color: white;
    margin: 10px 120px;
    padding: 10px;
    text-align: center;
    width: 70%
    z-index: 2;
}

main h1, h2 {
    color: rgb(59, 59, 59);
}

form {
    margin: 0 auto;
}

.portfolio {
    margin: 50px;
    padding: 500px 100px;
    border: 2px solid gray
}
